.div-places{

    .places{
        background: #F5F5F5;
        overflow: hidden;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid grey;

        .name{
            font-size: 35px;
            font-weight: 500;
        }

        .div-img{
            margin-top: 10px;
        }

        img{
            width: 100%;
            border: 1px solid grey;
            padding: 5px;
            background: white;
        }

        .param-places{
            float: right;
            font-weight: 600;
        }

        .places-change{
            float: right;

            .places-edit{
                color: blue;
            }

            .places-del{
                color: red;
            }
        }
    }
}

.div-places-add{

    textarea{
        width: 100%;
        resize: none;
    }
}

.div-places-edit{

    textarea{
        width: 100%;
        resize: none;
    }

    img{
        width: 100%;
    }
}