.div-second-hand{

    table{
        tbody{
            tr{
                td{
                    vertical-align: middle;
                }
            }
        }
    }

    img{
        width: 200px;
        height: 200px;
    }
}