$fa-font-path:        "../fonts/font-awesome" !default;

$grid-columns:       24 !default;
$grid-gutter-width:  30px !default;

$color-pink: 		 #db325a;
$width-container: 	 1200px;
$width-in-container: 1170px;
